footer {
  height: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #918989;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.subscribe input[type="email"],
.subscribe select {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  width: 200px;
}

.subscribe button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #ffb6c1;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.app-buttons img {
  height: 20px;
}

.social-media a {
  margin-right: 8px;
  color: #333;
  font-size: 20px;
}

.payment-methods img {
  height: 23px;
  margin-right: 4px;
}

.about-us p {
  margin-bottom: 10px;
  font-size: 14px;
}

.about-us li {
  margin-bottom: 8px;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin-bottom: 50px;
  margin-top: 300px; /* change 20px to match your footer height */
}
