.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a18c8c;
  color: #fff;
  padding: 70px;
}

.navbar a {
  font-size: 30px;
}

.navbar__links {
  display: flex;
  gap: 10px;
}

.navbar__login {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
